.triangleTransparent {
  width: 450px;
  height: 450px;
  top: 25%;
  left: 35%;
  position: absolute;
  z-index: 44;
  border: 4px solid red;

  @media (max-width: 1500px) {
    width: 400px;
    height: 400px;
    left: 35%;
  }

  @media (max-width: 1300px) {
    width: 380px;
    height: 380px;
  }

  @media (max-width: 1100px) {
    width: 360px;
    height: 360px;
  }
}

/* Animation avec my works => Home */
.snip1573 {
  transition: all 0.35s ease;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.35s ease;
    background-color: black;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 0.9;
    z-index: 14;
  }

  &:before {
    transform: skew(45deg) translateX(-155%);
  }

  &:after {
    transform: skew(45deg) translateX(155%);
  }
}

.snip1573.hover::before {
  transform: skew(40deg) translateX(-60%);
}
.snip1573.hover::after {
  transform: skew(40deg) translateX(50%);
}
