@import "../../../style//variables.css";

.triangle,
.triangle::before,
.triangle::after {
  height: 280px;
  width: 280px;
  border-top-right-radius: 20%;
  background-color: var(--bg);

  @media (max-width: 800px) {
    width: 210px;
    height: 210px;
  }

  @media (max-width: 600px) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: 500px) {
    width: 170px;
    height: 170px;
  }

  @media (max-width: 400px) {
    width: 155px;
    height: 155px;
  }

  @media (max-width: 350px) {
    width: 145px;
    height: 145px;
  }
}

.triangle {
  position: absolute;
  left: 35%;
  top: 25%;
  transform: rotate(-90deg) skewX(-30deg) scaleY(0.866);
  z-index: 10;

  @media (max-width: 800px) {
    left: 30%;
  }

  @media (max-width: 600px) {
    left: 25%;
  }

  @media (max-width: 500px) {
    left: 22%;
  }

  @media (max-width: 400px) {
    left: 18%;
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
  }

  &:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
      translateY(-50%);
  }

  &:after {
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
  }
}
