.triangleTwo {
  top: 24%;
  left: 36.5%;
  position: absolute;
  z-index: 11;
  background-repeat: no-repeat;
  border: 4px solid red;

  @media (max-width: 800px) {
    left: 32%;
  }

  @media (max-width: 600px) {
    left: 27.5%;
  }

  @media (max-width: 500px) {
    left: 24.5%;
  }

  @media (max-width: 400px) {
    left: 18%;
  }

  .image {
    max-width: 95%;
    height: auto;
    border: 4xps solid orange;

    @media (max-width: 800px) {
      max-width: 337px;
    }

    @media (max-width: 600px) {
      max-width: 325px;
    }

    @media (max-width: 500px) {
      max-width: 279px;
    }

    @media (max-width: 400px) {
      max-width: 250px;
    }

    @media (max-width: 350px) {
      max-width: 220px;
    }
  }
}
